node_modules
*.log
lib
dist
dist_branch1
dist_branch2
coverage
.nyc_output
.idea
package-lock.json
.prettierignore
.vscode
.editorconfig
/test-results/**/*.xml
/website/build
.DS_Store
junit.xml
esm
.eslintcache
